.row
{
    display: flex;
    justify-content: space-evenly;
    background-color:#393E41;

}
.col
{
    display: flex;
    flex-direction: column;
}
h1{
    color:  #F6F7EB;
}
.row2
{
    display: flex;
    background-color:#E94F37;
    justify-content: space-evenly;
}
p{
    color: #F6F7EB;
}